.header-area-black{
    background-color: black;
    
    position: fixed;
}
.featured-cars{
    padding-top: 135px ;
}

.navbar-header {
    display: flex; 
    align-items: center; 
    padding-bottom: 30px;
 
   
  }
  
  .navbar-brand img {
    /* Add any additional styling for your image here */
   
    max-height: 80px; /* Ensure the image doesn't exceed the height of the navbar-header */
    max-width: 200px; /* Ensure the image doesn't exceed the width of the navbar-header */
  }
  
  